.testContentParentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  background-color: #f9f9f9;
  //   background-color: red;

  .testHeaderContainer {
    width: 100%;
    height: 100;
    justify-content: space-between;
    padding-top: 27px;
    padding-right: 40px;
    padding-bottom: 27px;
    padding-left: 40px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #e0e0e0;

    .testHeaderContentContainer {
      display: flex;
      align-items: center;
      gap: 20px;

      .testHeadertextStyling {
        font-family: Inter;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -1.5%;
        text-transform: capitalize;
      }
    }
  }
}
